* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.home-page {
  padding: 5px 6%;
}

.home-page .nama {
  font-size: 1.5em;
  padding: 0 15px;
  color: black;
}

.navigasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3f4f4;
  width: 100%;
  height: 3.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  padding: 0 6%;
  left: 0;
}

.navigasi ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.navigasi ul a {
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 102, 0, 0);
  color: black;
}

.navigasi ul a:hover {
  color: rgb(255, 102, 0);
  transition: all 0.4s;
  border-bottom: 1px solid rgba(255, 102, 0, 100);
}

/* main */

.main {
  width: 100%;
  display: flex;
  /* background-color: aqua; */
  margin: 5rem 0;
  padding: 0 0 0 15px;
}

.heading-main {
  padding: 150px 0 5px 0;
  flex: 1.5;
}

.heading-main p:first-child {
  line-height: 30px;
}

.judul {
  font-size: 4.5em;
}

.main-1 {
  padding-top: 1rem;
  width: 90%;
}

.main-2 {
  padding-top: 2rem;
}

.main a {
  display: block;
  width: 40%;
  margin-top: 30px;
  border-radius: 8px;
  text-align: center;
  background-color: aqua;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid transparent;
}

.main a:hover {
  color: aqua;
  transition: all 0.3s;
  background-color: white;
  border: 2px solid black;
}

/* hero */
.hero {
  /* background-color: antiquewhite; */
  flex: 1;
}

.hero img {
  width: 95%;
}

.myGalery {
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  gap: 1.2rem;
}

.myGalery img {
  flex: 1;
  height: 300px;
  border-radius: 1rem;
  transition: all 0.4s;
}

.myGalery img:hover {
  transform: scale(1.1);
}

/* about */
.about-me {
  margin-top: 5rem;
}
